#Menu {
	width: 100%;
	height: 6.5%;
	background-color: aliceblue;
	border-radius: 0px;
}

#Menu>div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#folder,
#start,
#edge {
	width: 50px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: -4px;
	/* border: 1px solid red; */
}

#folder>img {
	display: block;
	width: 30px;
	height: 30px;
}

#start>img {
	display: block;
	width: 50px;
	height: 50px;
}

#edge>img {
	display: block;
	width: 30px;
	height: 30px;
}

.folder {
	width: 70%;
	height: 80%;
	position: fixed;
	top: 10%;
	left: 50%;
	margin-top: 0;
	margin-left: -35%;
	background-color: whitesmoke;
	border-radius: 5px;
}

#folderComponent {
	width: 100%;
	height: 100%;
	background-color: white;
	border-radius: 5px;
}

#folderComponent>div:nth-child(1) {
	width: 100%;
	height: 13%;
	background-color: ghostwhite;
	border-radius: 5px 5px 0px 0px;
}

#folderComponent>div:nth-child(2) {
	width: 100%;
	height: 10%;
	background-color: ghostwhite;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	border-top: 2px solid grey;
	border-bottom: 2px solid grey;
}

#folderComponent>div:nth-child(3) {
	width: 120px;
	height: 72%;
	float: left;
	background-color: ghostwhite;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 3px;
	border-right: 1px solid grey;
}

#folderComponent>div:nth-child(4) {
	/* width: 100%; */
	height: 72%;
	/* float: right; */
	margin-left: 121px;
	background-color: white;
}

#folderComponent>div:nth-child(5) {
	width: 100%;
	height: 5%;
	float: left;
	display: flex;
	align-items: center;
	background-color: white;
}

#home,
#picture,
#desktop_folder,
#download,
#document,
#music,
#vedio,
#computer,
#C,
#D,
#network {
	width: 80px;
	height: 20px;
	color: black;
	font-size: 12px;
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow: hidden;
	margin-top: 10px;
}

#home>img,
#picture>img,
#desktop_folder>img,
#download>img,
#document>img,
#music>img,
#vedio>img,
#computer>img,
#C>img,
#D>img,
#network>img {
	float: left;
	width: 15px;
	height: 15px;
}

#home>p,
#picture>p,
#desktop_folder>p,
#download>p,
#document>p,
#music>p,
#vedio>p,
#computer>p,
#C>p,
#D>p,
#network>p {
	width: 100%;
	height: 20px;
	margin-left: 2px;
	line-height: 20px;
}

hr {
	width: 100px;
	margin-top: 15px;
	border: 1px solid grey;
	opacity: 0.2;
}

.folder_context>table {
	width: 100%;
	color: black;
	font-size: 12px;
	padding: 5px;
	text-align: center;

}

.folder_context td,
.folder_context th {
	text-align: left;
	vertical-align: center;
}

.folder_context th {
	font-size: 14px;
	padding-bottom: 10px;
}

.folder_context td {
	padding-top: 5px;
}

#count_menu>p {
	margin-left: 10px;
}

;

#menu_folder {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

#create_container {
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 20px;
	position: relative;
	/* background-color: aqua; */
}

#create {
	width: 55px;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 14px;
	/* border: 1px solid black; */
}

#create>img {
	float: left;
	width: 20px;
	height: 20px;
	/* border: 1px solid black; */
}

#create>p {
	width: 100%;
	height: 20px;
	margin-left: 4px;
	line-height: 20px;
	/* border: 1px solid black; */
}

#create+div {
	width: 5px;
	height: 5px;
	opacity: 0.5;
	border-left: 3px solid black;
	border-bottom: 3px solid black;
	transform: rotate(-45deg) translateY(-2px);
	margin-left: 3px;
}

.create_context {
	position: absolute;
	top: 45px;
	left: -10px;
	width: 230px;
	height: 160px;
	background-color: ghostwhite;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 5px;
	border-radius: 8px;
	box-shadow: 0 0 5px 1px #999;
}

#picture_image,
#Word,
#PowerPoint,
#excel,
#text {
	width: 100%;
	height: 25px;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 14px;
	/* border: 1px solid black; */
}

#picture_image>img,
#Word>img,
#PowerPoint>img,
#excel>img,
#text>img {
	float: left;
	width: 20px;
	height: 20px;
	/* border: 1px solid black; */
}

#picture_image>p,
#Word>p,
#PowerPoint>p,
#excel>p,
#text>p {
	width: 100%;
	height: 20px;
	margin-left: 4px;
	line-height: 20px;
	/* border: 1px solid black; */
}

#create_container>hr {
	transform: rotate(90deg);
	width: 40px;
	margin-top: 10px;
}