.time_in_screen {
	width: 100%;
	text-align: center;
	color: white;
	font-weight: bold;
	/* border: 1px solid white; */
}

.time_in_screen>h1 {
	font-size: 80px;
}

.time_in_screen>h2 {
	font-size: 20px;
	margin-top: -90px;
}